{% extends 'base.html.twig' %}

{% block title 'Portfolio'%}

{% block content %}

    <h1 class="pt">Portfolio</h1>

    <div class="flex">

        {% for project in projects %}

            <div class="card border-warning card-project">
                <div class="card-header">{{ project.title }}</div>
                <div class="card-body">
                  <img src="img/projects/{{ project.imageName }}" alt="Page d'accueil du site">
                    <p class="card-text">{{ project.content | slice(0, 250) | raw }}
                    <a href="{{ path('project', {'id' : project.id}) }}" class="card-link">Voir plus...</a>
                </div>
            </div>

        {% endfor %}

    </div>

    <div class="navigation">
        {{ knp_pagination_render(projects)}}
    </div>


{% endblock %}