{% extends 'base.html.twig' %}

{% block title %}{{ project.title }}{% endblock %}

{% block css %}

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">

{% endblock %}


{% block content %}

    {% for message in app.flashes('delete') %}

    <div class="alert alert-success">{{ message }}</div>

    {% endfor %}

    <h1 class="pt">{{ project.title }}</h1>

    <section class="justify center">

        <figure>
            <img src="../img/projects/{{ project.imageName }}" alt="premiere page du site">
        </figure>

        <p>{{ project.content | raw }}</p>
        <a class="ml btn btn-warning" href="{{ project.link }}" target="_blank" rel="noopener noreferrer">Lien vers le site</a>
        <a href="{{ path('project_like', {id: project.id}) }}" class="btn btn-primary js-like">
            <span class="js-likes">{{ project.likes | length }}</span>
            {% if app.user and project.isLikedByUser(app.user) %}
                <i class="fas fa-thumbs-up"></i>
            {% else %}
                <i class="far fa-thumbs-up"></i>
            {% endif %}
            <span class="js-label">J'aime</span>
        </a>

    </section>

    <section class="comments">

        {% if not app.user %}
            <h4>Pour laisser un commentaire, <a href="{{ path('registration') }}"><button class="btn btn-dark">Inscrivez-vous</button></a>
                ou <a href="{{ path('connection') }}"><button class="btn btn-dark">Connectez-vous</button></a></h4>
            {% else %}

                <form class="form" method="post" action="{{ path('createComment',{'id' : project.id}) }}">

                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                            <label for="comment" class="input-group-text" id="addon-wrapping">Ecrire un commentaire</label>
                        </div>
                        <textarea id="content" class="form-control" aria-label="content" name="content" aria-describedby="addon-wrapping" rows="4" cols ="20" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Envoyer</button>

                </form>

        {% endif %}

                {% for comment in comments %}

                    <section class="card" id="comments">
                        <h3 class="card-header">Posté par : <strong>{{ comment.username.username }}</strong>, le {{ comment.creationDate | date("d/m/Y g:i") }}</h3>
                        <div class="card-body">
                            <p class="card-text">{{ comment.content }}</p>
                        </div>

                    </section>

                {% endfor %}


    </section>


{% endblock %}

{% block javascripts %}

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/like.js"></script>

{% endblock %}